/* CSS responsible for styling the body */
body {
    background: #fefefe;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
}

input {
    display: block;
    border: 1px solid;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 300px;
}

label{
    display: block;
    font-size: 12pt;
    margin-bottom: 10px;
}

h2 {
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin-bottom: 12px;
}

p, ul, a, dl {
    font-size: 12pt;
    text-decoration: none;
}

dt {
    text-decoration: underline;
    font-weight: bold;
}

dd{
    margin-bottom: 12px;
}